
:root{
    --primary: #393C5E;
    --white: #F4F4F4;
    --text: #4D4E52;
    --green: #3EAF7F;
    --red: #FF5858;
    --purple: #C67BF4;
    --orange: #EC7E4F; 
}

/* typography rules here*/
h1, h2, h3, h4, p{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color: var(--primary);
    text-wrap: pretty;
}

p{
    font-size: 0.75rem;
    margin-top: 0;
    margin-bottom: 5rem;
    color: var(--text);
}

h4{
    font-size: 1.5rem;
    margin-top: 0.75rem;
}
/* ------------------------------------------ */


@media screen and (max-width: 390px) {
    .navbar {
        background-color:var(--primary) ;
        width: 100%;
        height: 4.5rem;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000; /* Ensures the navigation bar stays on top of other elements */
    }
    
    body{
        background-color: var(--white);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .home1-container{
        background-color: var(--primary);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
        padding: 2rem;
        text-align: left;
        height: 100%;
        margin-top: 4rem;
        p{
            font-size: 1.5rem;
            color: var(--white);
            margin-bottom: 1rem;
        }
    }

    .home2-container{
        background-color: var(--white);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        width: 90%;
    }

    .home2-item{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .home2-item img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1400px) {
    .home2-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 90%;
        flex-wrap: wrap;
    } 

    .home2-item{
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .column{
        flex: 1;
    }

    .home2-item img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 2000px) {
    
}
